
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: aquamarine;
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      padding-top: 10px;
      border-radius: 4px;
    }

    .text-box {
      width: 365px;
      height: 50px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border: 2px solid black;
      border-radius: 4px;
      outline: none;
      font-size: 2rem;
      text-align: right;
      font-weight: bold;
    }

    .calculator {
      display: grid;
      grid-template-columns: repeat(4, 85px);
      grid-template-rows: repeat(5, 36px);
      gap: 10px;
      padding: 10px;
      border-radius: 10px;
    }

   

    button {
      background-color: #ccc4c4;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: hidden;
      border-radius: 4px;
      font-size: 1.25rem;
      cursor: pointer;
    }

    button:hover {
      background-color: aqua;
    }

    .operator {
      background-color: #af9696;
    }

    .function {
      background-color: #9f8d8d;
    }
